* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e6648b, #bc7de6);
  position: relative;
}

nav {
  background-color: #e628614f;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #e9034862;

}

.name h1 {
  font-size: 40px;
}

.rules-tab {
  position: absolute;
  right: 30px;
  font-size: 20px;
}

.rules-tab:hover {
  cursor: pointer;
  color: rgb(0, 132, 255);
}

.play-again-tab {
  position: absolute;
  left: 30px;
  font-size: 20px;
}

.play-again-tab:hover {
  cursor: pointer;
  color: rgb(0, 132, 255);
}

article {
  position: relative;
}

.rules {
  margin: 25px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.rules-modal {
  position: relative;
  background-color: rgb(236, 236, 236);
  width: 500px;
  height: 60vh;
  border-radius: 20px;
}

.rules-modal h1 {
  text-align: center;
  margin-top: 20px;
}

.close-rules-button {
  top: -5px;
  right: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: white;
  color: black;
  font-size: 50px;
  cursor: pointer;
}

.close-rules-button:hover {
  color: rgb(207, 6, 6);
}

.hidden-modal {
  display: none;
}

.game-boards {
  display: flex;
  justify-content: space-around;
}


.player-board {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  flex-grow: 1;
  margin: 20px;
  border: solid 2px #000000;
  background-color: #ffffffb0;
  height: 400px;
  justify-content: center;
  border-radius: 40px;
}

.current-score-title {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  grid-column: 1/ span 3;
}

.current-score {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #d81570;
  font-size: 90px;
  grid-column: 2;
  grid-row: 2;
}

.button-container {
  display: flex;
  border-radius: 40px;
  grid-column: 1/ span 3;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.buttons:hover:enabled {
  width: 70px;
  height: 30px;
  background-color: #000000;
  border: #d3d3d3 solid 2px;
  border-radius: 10px;
  color: white;
}

.buttons:active:enabled {
  width: 70px;
  height: 30px;
  background-color: #000000;
  border: #d3d3d3 solid 2px;
  border-radius: 10px;
  color: white;
}

.buttons {
  width: 70px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.player-total-scores {
  display: flex;
  justify-content: space-around;
}

.player-score {
  margin-top: -20px;
  padding: 10px;
  border-radius: 10px;
}

.total-score {
  text-align: center;
  font-size: 80px;
}

.total-score-title {
  font-size: 30px;
}

.img-container img {
  border-radius: 20px;
}